<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1, minimal-ui">
  <title>{{resume.basics.name}}{{#if resume.basics.label}} — {{resume.basics.label}}{{/if}}</title>

  <style>
    {{> webfonts}}
    {{> fontAwesome}}
    {{> bootstrap}}
    {{> style}}
    {{> profile}}
    {{> print}}
  </style>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta http-equiv="cleartype" content="on">
  <meta name="theme-color" content="#2d89ef">

  <meta name="apple-mobile-web-app-title" content="{{resume.basics.name}}">
  <meta name="application-name" content="{{resume.basics.name}}">

  <meta name="author" content="{{resume.basics.name}}">
  <meta name="description" content="{{resume.basics.name}}{{#if resume.basics.label}} — {{resume.basics.label}}{{/if}}">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="container-fluid" itemscope itemtype="http://schema.org/Person" role="document">
  <div class="row">
    <section id="profile" class="col-md-3 card-wrapper profile-card-wrapper affixTODO">
      <div class="card">
        {{#resume.basics}}
          <img class="profile-pic media-object img-circle center-block" src="{{picture}}" alt="128x128" width="128" height="128" itemprop="image">

          <h1 class="text-center text-bolder" itemprop="name">{{name}}</h1>
          <h2 class="text-center text-muted" itemprop="jobTitle">{{label}}</h2>

          <hr>

          <ul class="basics nav nav-stacked">
            {{#if phone}}
              <li class="basics-item">
                <a href="tel:{{sanitizePhone phone}}">
                  <span class="icon"><i class="fa fa-lg fa-phone"></i></span>
                  <span class="info" itemprop="telephone">{{phone}}</span>
                </a>
              </li>
            {{/if}}
            {{#if location}}
              <li class="basics-item">
                {{#location}}
                  <a href="{{mapURL this}}" target="_blank" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span class="icon"><i class="fa fa-lg fa-location-arrow"></i></span>
                    <span class="info">
                      <span itemprop="streetAddress">{{#if address}}{{address}},{{/if}}</span>
                      <span itemprop="addressLocality">{{#if city}}{{city}},{{/if}}</span>
                      <span itemprop="postalCode">{{#if postalCode}}{{postalCode}},{{/if}}</span>
                      <span itemprop="addressRegion">{{#if region}}{{region}},{{/if}}</span>
                      <span itemprop="addressCountry">{{#if countryCode}}{{countryCode}}{{/if}}</span>
                    </span>
                  </a>
                {{/location}}
              </li>
            {{/if}}
            {{#if email}}
              <li class="basics-item">
                <a href="mailto:{{email}}">
                  <span class="icon"><i class="fa fa-lg fa-envelope"></i></span>
                  <span class="info" itemprop="email">{{email}}</span>
                </a>
              </li>
            {{/if}}
            {{#if website}}
              <li class="basics-item">
                <a href="{{website}}" rel="author" target="_blank" itemprop="url">
                  <span class="icon"><i class="fa fa-lg fa-link"></i></span>
                  <span class="info">{{sanitizeURL website}}</span>
                </a>
              </li>
            {{/if}}
          </ul>

          <hr>

          {{#if profiles}}
            <ul class="social-profiles nav nav-justified">
              {{#each profiles}}
                <li class="profile-item"><a href="{{url}}" target="_blank"><i class="fa fa-2x {{networkIcon network}}"></i></a></li>
              {{/each}}
            </ul>
          {{/if}}
        {{/resume.basics}}
      </div>
    </section>

    <section class="col-md-9 card-wrapper">
      <div class="card background-card">
        <div class="background-details">
          <div class="detail" id="about">
            <div class="icon">
              <i class="fa fa-lg fa-user"></i>
              <span class="mobile-title">About</span>
            </div>
            <div class="info">
              <h4 class="title text-uppercase">
                About
              </h4>

              <div class="content" itemprop="description">
                {{nl2br resume.basics.summary}}
              </div>
            </div>
          </div>

          <div class="detail" id="work-experience">
            <div class="icon">
              <i class="fa fa-lg fa-building"></i>
              <span class="mobile-title">Work Experience</span>
            </div>
            <div class="info">
              <h4 class="title text-uppercase">
                Work Experience
              </h4>

              <ul class="list-unstyled">
                {{#each resume.work}}
                  <li class="card card-nested clearfix">
                    <div class="content has-sidebar">
                      <p class="clear-margin-sm">
                        <strong>{{position}}</strong>,&nbsp;{{company}}
                      </p>
                      <p class="text-muted visible-xs visible-sm">
                        <small>
                          <span class="space-right">
                            <time datetime="{{startDate}}" itemprop="TODO">{{formatMMMMYYYY startDate}}</time> -
                            {{#if endDate}}
                              <time datetime="{{endDate}}" itemprop="TODO">{{formatMMMMYYYY endDate}}</time>
                            {{else}}
                              <time itemprop="TODO">Present</time>
                            {{/if}}
                          </span>
                          <span>
                            <i class="fa fa-clock-o icon-left"></i>
                            {{humaneDuration startDate endDate}}
                          </span>
                        </small>
                      </p>
                      <p>{{nl2br summary}}</p>
                      {{#if highlights}}
                        <ul>
                          {{#each highlights}}
                            <li> {{.}} </li>
                          {{/each}}
                        </ul>
                      {{/if}}
                    </div>

                    <div class="sidebar text-muted text-center hidden-xs hidden-sm">
                      {{#if startDate}}
                        <p>
                          <strong>Joined:</strong>&nbsp;
                          <time datetime="{{startDate}}" itemprop="TODO">{{formatMMMMYYYY startDate}}</time>
                        </p>

                        <p>
                          {{#if endDate}}
                            <strong>Left:</strong>&nbsp;
                            <time datetime="{{endDate}}" itemprop="TODO">{{formatMMMMYYYY endDate}}</time>
                          {{else}}
                            <span class="label label-success">
                              <time itemprop="TODO">Currently Working</time>
                            </span>
                          {{/if}}
                        </p>
                      {{/if}}
                      <p>
                        <i class="fa fa-clock-o icon-left"></i>
                        {{humaneDuration startDate endDate}}
                      </p>
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>

          <div class="detail" id="skills">
            <div class="icon">
              <i class="fa fa-lg fa-code"></i>
              <span class="mobile-title">Skills</span>
            </div>
            <div class="info">
              <h4 class="title text-uppercase">
                Skills
              </h4>

              <div class="content">
                <ul class="list-unstyled">
                  {{#each resume.skills}}
                    <li class="card card-nested card-skills">
                      <div class="skill-info">
                        <strong>{{name}}</strong>

                        <div class="space-top labels">
                          {{#keywords}}
                            <span class="label label-keyword">{{.}}</span>
                          {{/keywords}}
                        </div>
                      </div>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>

          <div class="detail" id="education">
            <div class="icon">
              <i class="fa fa-lg fa-mortar-board"></i>
              <span class="mobile-title">Education</span>
            </div>
            <div class="info">
              <h4 class="title text-uppercase">
                Education
              </h4>

              <div class="content">
                <ul class="list-unstyled">
                  {{#each resume.education}}
                    <li class="card card-nested">
                      <div class="content has-sidebar">
                        <p class="clear-margin-sm">
                          <strong>{{area}}, {{studyType}}</strong>,&nbsp;
                          {{institution}}
                        </p>
                        <p class="visible-xs visible-sm text-muted">
                          <small>
                            <time datetime="{{startDate}}" itemprop="TODO">{{formatYYYY startDate}}</time> -
                            {{#if endDate}}
                              <time datetime="{{endDate}}" itemprop="TODO">{{formatYYYY endDate}}</time>
                            {{else}}
                              <time itemprop="TODO">Present</time>
                            {{/if}}
                          </small>
                        </p>
                        <i>{{gpa}}</i>
                        <div class="space-top labels">
                          {{#courses}}
                            <span class="label label-keyword">{{.}}</span>
                          {{/courses}}
                        </div>
                      </div>
                      <div class="sidebar text-muted text-center hidden-xs hidden-sm">
                        <p>
                          <strong>Started:</strong>&nbsp;
                          <time datetime="{{startDate}}" itemprop="TODO">{{formatYYYY startDate}}</time>
                        </p>
                        <p>
                          {{#if endDate}}
                            <strong>Completion:</strong>&nbsp;
                            <time datetime="{{endDate}}" itemprop="TODO">{{formatYYYY endDate}}</time>
                          {{else}}
                            <span class="label label-success">
                              <time itemprop="TODO">Currently Pursuing</time>
                            </span>
                          {{/if}}
                        </p>
                      </div>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>

          {{#if resume.awards}}
            <div class="detail" id="awards">
              <div class="icon">
                <i class="fa fa-lg fa-trophy"></i>
                <span class="mobile-title">Awards</span>
              </div>
              <div class="info">
                <h4 class="title text-uppercase">
                  Awards
                </h4>

                <div class="content">
                  <ul class="list-unstyled">
                    {{#each resume.awards}}
                      <li class="card card-nested">
                        <div class="content has-sidebar">
                          <p class="clear-margin-sm" itemprop="award">
                            <strong>{{title}}</strong>,&nbsp;
                            {{awarder}}
                          </p>
                          <p class="visible-xs visible-sm text-muted">
                            <small>
                              Awarded on: <time datetime="{{date}}" itemprop="TODO">{{formatMMMDDYYYY date}}</time>
                            </small>
                          </p>
                          <p class="clear-margin"> {{nl2br summary}} </p>
                        </div>
                        <div class="sidebar text-muted text-center hidden-xs hidden-sm">
                          <p>
                            <strong>Awarded on:</strong>&nbsp;
                            <time datetime="{{date}}" itemprop="TODO">{{formatMMMDDYYYY date}}</time>
                          </p>
                        </div>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          {{/if}}

          {{#if resume.volunteer}}
            <div class="detail" id="volunteer-work">
              <div class="icon">
                <i class="fa fa-lg fa-child"></i>
                <span class="mobile-title">Volunteer Work</span>
              </div>
              <div class="info">
                <h4 class="title text-uppercase">
                  Volunteer Work
                </h4>

                <div class="content">
                  <ul class="list-unstyled">
                    {{#each resume.volunteer}}
                      <li class="card card-nested">
                        <div class="content has-sidebar">
                          <p class="clear-margin-sm">
                            <strong>{{position}}</strong>,&nbsp;
                            {{organization}}
                          </p>
                          <p class="visible-xs visible-sm text-muted">
                            <small>
                              <time datetime="{{startDate}}" itemprop="TODO">{{formatMMMMYYYY startDate}}</time> -
                              {{#if endDate}}
                                <time datetime="{{endDate}}" itemprop="TODO">{{formatMMMMYYYY endDate}}</time>
                              {{else}}
                                <time itemprop="TODO">Present</time>
                              {{/if}}
                            </small>
                          </p>
                          <p>{{nl2br summary}}</p>
                          <ul>
                            {{#each highlights}}
                              <li> {{.}} </li>
                            {{/each}}
                          </ul>
                        </div>
                        <div class="sidebar hidden-xs hidden-sm text-muted text-center">
                          <p>
                            <strong>Since:</strong>&nbsp;
                            <time datetime="{{startDate}}" itemprop="TODO">{{formatMMMMYYYY startDate}}</time>
                          </p>
                          <p>
                            {{#if endDate}}
                              <strong>Until:</strong>&nbsp;
                              <time datetime="{{endDate}}" itemprop="TODO">{{formatMMMMYYYY endDate}}</time>
                            {{else}}
                              <span class="label label-success">
                                Currently Volunteering
                              </span>
                            {{/if}}
                          </p>
                        </div>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          {{/if}}

          {{#if resume.publications}}
            <div class="detail" id="publications">
              <div class="icon">
                <i class="fa fa-lg fa-book"></i>
                <span class="mobile-title">Publications</span>
              </div>
              <div class="info">
                <h4 class="title text-uppercase">
                  Publications
                </h4>

                <div class="content">
                  <ul class="list-unstyled">
                    {{#each resume.publications}}
                      <li class="card card-nested">
                        <div class="content has-sidebar">
                          <p class="clear-margin-sm">
                            <strong>
                              {{#if website}}
                                <a href="{{website}}"  target="_blank">{{name}}</a>
                              {{else}}
                                {{name}}
                              {{/if}}
                            </strong>,&nbsp;
                            {{publisher}}
                          </p>
                          <p class="visible-xs visible-sm text-muted">
                            <small>
                              Published on: <time datetime="{{releaseDate}}" itemprop="TODO">{{formatMMMDDYYYY releaseDate}}</time>
                            </small>
                          </p>
                          <p class="clear-margin">{{nl2br summary}}</p>
                        </div>
                        <div class="sidebar text-muted text-center hidden-sm hidden-xs">
                          <p>
                            <strong>Published on:</strong>&nbsp;
                            <time datetime="{{releaseDate}}" itemprop="TODO">{{formatMMMDDYYYY releaseDate}}</time>
                          </p>
                        </div>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          {{/if}}

          {{#if resume.interests}}
            <div class="detail" id="interests">
              <div class="icon">
                <i class="fa fa-lg fa-heart"></i>
                <span class="mobile-title">Interests</span>
              </div>
              <div class="info">
                <h4 class="title text-uppercase">
                  Interests
                </h4>

                <div class="content">
                  <ul class="list-unstyled">
                    {{#each resume.interests}}
                      <li class="card card-nested">
                        <p>
                          <strong>{{name}}</strong>
                        </p>

                        <div class="space-top labels">
                          {{#keywords}}
                            <span class="label label-keyword">{{.}}</span>
                          {{/keywords}}
                        </div>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          {{/if}}

          {{#if resume.references}}
            <div class="detail" id="references">
              <div class="icon">
                <i class="fa fa-lg fa-thumbs-up"></i>
                <span class="mobile-title">References</span>
              </div>
              <div class="info">
                <h4 class="title text-uppercase">
                  References
                </h4>

                <div class="content">
                  <ul class="list-unstyled">
                    {{#each resume.references}}
                      <li class="card card-nested">
                        <p>
                          <strong>{{name}}</strong>
                        </p>
                        <blockquote class="quote">
                          <p class="clear-margin">{{reference}}</p>
                        </blockquote>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          {{/if}}

        </div>
      </div>
    </section>
  </div>

  <a href="#" data-scroll>Go to top</a>
  <script>
    {{> domReady}}
    {{> FastClick}}
    {{> smoothScroll}}
    {{> script}}
  </script>
</body>
</html>
