html, body, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

html {
  background-color: #292f33;
}

body {
  min-width: 320px;
  /* TODO max-width: 1280px; */
  font-size: 16px;
  font-family: 'Lato', 'Lato Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: #e1e8ed;
  color: #292f33;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1 {
  font-size: 30px;
  margin-top: 10px;
}

h2 {
  font-size: 24px;
  margin-top: 10px;
}

.text-muted {
  color: #66757f;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

::selection {
  background: #c2f990;
}

::-moz-selection {
  background: #c2f990;
}