* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

body {
  min-width: 320px;
  /* TODO max-width: 1280px; */
  font-size: 16px;
  font-family: 'Lato', 'Lato Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #e1e8ed;
  color: #292f33;
}

::selection {
  background: #c2f990;
}

::-moz-selection {
  background: #c2f990;
}

h1 {
  font-size: 30px;
  margin-top: 10px;
}

h2 {
  font-size: 24px;
  margin-top: 10px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 16px;
}

.text-muted {
  color: #66757f;
}

blockquote {
  margin: 0;
  border-left: 5px solid #e1e8ed;
}

blockquote footer {
  color: #66757f;
}

blockquote footer cite {
  font-style: normal;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .card-wrapper {
    float: none !important;
  }
}

.nav > li > a:hover,
.nav > li > a:focus {
  outline: none;
  background-color: #e1e8ed;
}

.nav > li > a:active {
  background-color: #ccd6dd;
}
