.profile-pic {
  width: 128px;
  height: 128px;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (min-width: 992px) {
  h1,
  h2,
  .profile-pic {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.basics-item .icon,
.profile-item .icon {
  position: absolute;
  top: 50%;
  margin-top: -10px;
}

.basics-item .info,
.profile-item .info {
  position: relative;
  left: 30px;
  padding-right: 30px;
  vertical-align: middle;
}

.social-profiles .profile-item a {
  padding: 5px 15px;
  color: inherit;
  text-align: left;
}

@media (min-width: 768px) {
  .social-profiles .profile-item a {
    padding: 5px;
    text-align: center;
  }

  .profile-item .icon {
    position: static;
    margin-top: 0;
  }

  .profile-item .icon-lg {
    font-size: 2em;
  }
}
