@media (max-width: 992px) {
  .profile-card-wrapper {
    position: relative;
  }
}

.profile-pic {
  width: 128px;
  height: 128px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  h1, h2, .profile-pic {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.basics .basics-item .icon {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  color: #777;
}

.basics .basics-item .info {
  position: relative;
  left: 30px;
  padding-right: 30px;
  vertical-align: middle;
}

@media (max-width: 992px) {
  .basics .basics-item {
    float: left;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .basics .basics-item .icon {
    top: 10px;
    margin-top: 0;
  }

  .basics .basics-item .info {
    padding-right: 12px;
  }
}

@media (max-width: 768px) {
  .basics .basics-item {
    width: 100%;
  }

  .basics .basics-item .icon {
    top: 50%;
    margin-top: -13px;
  }
}

.profile-item a {
  color: inherit;
}
