.profile-card-wrapper {
  padding-right: 0;
}

@media (max-width: 991px) {
  .profile-card-wrapper {
    position: relative;
    padding-bottom: 0;
    padding-right: 10px;
  }

  .card-wrapper {
    float: none !important;
  }
}

.detail {
  padding: 10px 10px 10px 50px;
}

.detail h3 {
  position: relative;
  left: -44px;
}

@media (max-width: 767px) {
  .detail {
    padding: 10px;
  }

  .detail h3 {
    position: static;
  }
}

.detail h3 i {
  min-width: 40px;
  min-height: 20px;
  text-align: center;
}

.detail-item {
  padding: 10px 0;
  margin: 0 3px;
  border-top: 1px solid #ccd6dd;
}

.detail-item-content {
  padding: 0 10px 0 0;
}

.detail-item-content.col-sm-9 {
  border-right: 1px solid #ccd6dd;
}

@media (max-width: 767px) {
  .detail-item-content.col-sm-9 {
    border: none;
  }
}

.detail-highlights li {
  margin-bottom: 2px;
}

.labels {
  line-height: 2;
  word-spacing: 5px;
}

.label-keyword {
  font-size: inherit;
  background-color: #7eb0db;
}

#skills h4, #interests h4 {
  font-weight: bold;
}

#references .detail-item {
  border: none;
}
