.clear-margin {
  margin: 0;
}
.space-top {
  margin-top: 10px;
}
.space-right {
  margin-right: 10px;
}
.icon-left {
  margin-right: 5px;
}
.icon-right {
  margin-left: 5px;
}
.labels {
  word-spacing: 5px;
  line-height: 2;
}
.label-keyword {
  display: inline-block;
  background: #7eb0db;
  color: white;
  font-size: 0.9em;
  padding: 5px;
  border: 1px solid #357ebd;
}

@media (max-width: 992px) {
  .clear-margin-sm {
    margin-bottom: 0;
  }
}

.detail {
  padding: 10px 50px;
}

.detail h3 {
  position: relative;
  left: -44px;
}

.detail h3 i {
  min-width: 40px;
  min-height: 20px;
  text-align: center;
}

.detail-item {
  margin-bottom: 10px;
  border: 1px solid #66757f;
  border-width: 1px 0 0 0;
}

.content.has-sidebar {
  border-right: 1px solid #cdcdcd;
}

.card-skills {
  position: relative;
}
.skill-level {
  border-radius: 3px;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
  width: 10px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) {
  .skill-info {
    margin-left: 20px;
  }
}
