.clear-margin {
  margin: 0;
}

.space-right {
  margin-right: 10px;
}
.icon-left {
  margin-right: 5px;
}
.icon-right {
  margin-left: 5px;
}

@media (max-width: 992px) {
  .clear-margin-sm {
    margin-bottom: 0;
  }
}

.detail {
  padding: 10px 50px;
}

.detail h3 {
  position: relative;
  left: -44px;
}

.detail h3 i {
  min-width: 40px;
  min-height: 20px;
  text-align: center;
}

.detail-item {
  padding: 10px 0;
  margin: 0 3px;
  border-top: 1px solid #ccd6dd;
}

.detail-item-content {
  padding: 0;
}

.detail-item-content.col-sm-9 {
  border-right: 1px solid #ccd6dd;
}

.labels {
  line-height: 2;
  word-spacing: 5px;
}

.label-keyword {
  font-size: inherit;
  background-color: #7eb0db;
}

#skills h4, #interests h4 {
  font-weight: bold;
}

#references .detail-item {
  border: none;
}
